.emoji-grid {
  width: 80%;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.emoji {
  width: 25%;
  height: 200px;
  font-size: 10vw;
  text-align: center;
}


#message {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 10vw;
  text-align: center;
  margin-bottom: 20px;
}

button {
  width: 40vw;
  height: 20vw;
  font-size: 10vw;
  font-weight: bold;
  margin: 2vw auto;
  display: block;
  text-transform: uppercase;
  border: 1vw solid;
  border-radius: 10vw;
  background: none;
}

@media (max-width: 768px) {
  .emoji {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .emoji {
    width: 100%;
  }
  h1 {
    font-size: 50vw;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
  }
}
